{% extends 'base.html.twig' %}

{% block title %}Détails de l'Activité{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Détails de l'Activité</h1>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ activity.type }}</h5>
                <p class="card-text">
                    <strong>ID:</strong> {{ activity.id }}<br>
                    <strong>Type:</strong> {{ activity.type }}<br>
                    <strong>Distance:</strong> {{ activity.distance }} km<br>
                    <strong>Durée:</strong> {{ activity.duration }} min<br>
                    <strong>Date:</strong> {{ activity.date|date('Y-m-d H:i:s') }}<br>
                    <strong>Auteur:</strong> {{ activity.author.username }}
                </p>
            </div>
        </div>
        <div>
            <a href="{{ path('app_activity_edit', {'id': activity.id}) }}" class="btn btn-warning">Éditer</a>
            <button type="button" class="btn btn-danger" onclick="confirmDeletion('{{ path('app_activity_delete', {'id': activity.id}) }}')">Supprimer</button>

            <a href="{{ path('app_activity_list') }}" class="btn btn-primary">Retour à la liste</a>

        </div>
    </div>

    <script>
        function confirmDeletion(url) {
            if (confirm('Êtes-vous sûr de vouloir supprimer cette activité ?')) {
                window.location.href = url;
            }
        }
    </script>
{% endblock %}
